[submodule "heirloom-libuxre"]
	path = heirloom-libuxre
	url = https://github.com/mpsuzuki/heirloom-libuxre.git
[submodule "heirloom-libcommon"]
	path = heirloom-libcommon
	url = https://github.com/mpsuzuki/heirloom-libcommon.git
